$mainBoldFont: MotserratBold;
$mainRegularFont: MontserratRegular;
$lightFont: Roboto;
$lightColor: #fff;
$darkColor: #000;
$titleSection: 22px;
$colorButton: #ff4e50;

body{
    min-width: 320px;
    position: relative;
}
.top-menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 114px;
    &__item{
        font-family: $mainBoldFont;
        font-size: 14px;
    }
}
.logo__text, .login__item{
    color: $lightColor;
}
.logo__text{
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: $mainBoldFont;
    &_other{
        font-size: 16px;
        color: $colorButton;
        letter-spacing: .8px;
    }
}
.login__item{
    padding: 9px 17px;
    &_active{
        display: inline-block;
        border: 2px solid #ffffff;
        border-radius: 22px;
    }
}
.section{
    box-sizing: border-box;
    background-position: top;
    &_first-section{
        height: 700px;
        background: linear-gradient(to right, rgba(0,0,0,.3), rgba(0,0,0,.3)), url(../images/bg-section.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    &_regular{
        padding: 99px 0 0 0;
    }
    &__title{
        font-family: $mainBoldFont;
        text-align: center;
        font-size: $titleSection;
        margin: 0 0 36px 0;
        &_big-size{
            max-width: 500px;
            font-size: 52px;
            color: $lightColor;
            text-transform: uppercase;
        }
    }
    &__subtitle{
        color: $lightColor;
        font-family: $lightFont;
        font-size: 24px;
        font-weight: 300;
        margin: 0 0 30px 0;
    }
    &__button{
        height: 40px;
        background-color: transparent;
        border: 2px solid $colorButton;
        border-radius: 20px;
        font-family: $mainBoldFont;
        font-size: 14px;
        color: $colorButton;
        padding: 0 22px;
        &_fill{
            background-color: $colorButton;
            color: $lightColor;
        }
    }
}

@media (max-width: 1024px){
    .section_regular{
        padding: 99px 20px 0 20px;
    }
    .top-menu{
        padding: 0 20px;
    }
}
@media (max-width: 768px){
    .section{
        &__title{
            font-size: 18px;
        }
        &_first-section{
            height: 540px;
            padding: 0 10px;
        }
        &_regular{
            padding: 38px 10px 0 10px;
        }
        &__title{
            margin: 0 0 18px 0;
            &_big-size{
                margin: 64px 0 0 0;
                font-size: 30px;
            }
        }
        &__subtitle{
            font-size: 18px;
            margin: 19px 0;
        }
        &__button{
            width: 280px;
        }
    }
    .top-menu{
        justify-content: center;
        padding: 0;
        height: 80px;
        & .logo{
            position: absolute;
            left: 0;
            right: 0;
            margin: 143px  0 0 0;
            text-align: center;
        }
    }
}