$mainBoldFont: MotserratBold;
$mainRegularFont: MontserratRegular;
$lightFont: Roboto;
$lightColor: #fff;
$darkColor: #000;
$titleSection: 22px;
$colorButton: #ff4e50;

.form-wrapper{
    text-align: center;
    &__title{
        font-family: $lightFont;
        font-size: 18px;
        color: #333333;
        margin: 0 0 33px 0;
    }
    &__form{
        margin: 0 0 100px 0;
    }
}
.form{
    &__email{
        width: 240px;
        height: 40px;
        box-sizing: border-box;
        box-shadow: 0 1px 0 #eeeeee;
        border-radius: 4px;
        border: 1px solid #cccccc;
        color: #999999;
        font-family: $lightFont;
        font-size: 14px;
        padding: 0 0 0 16px;
    }
    &__button{
        width: 160px;
        height: 40px;
        border-radius: 20px;
        background-color: #ff4e50;
        font-size: 14px;
        font-family: $mainBoldFont;
        color: $lightColor;
        border: 0px;
        margin: 0 0 0 6px;
    }
}